body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.all-groups {
  cursor: pointer;
  text-transform: uppercase;
  color: #2067ff;
  font-size: 12px;
}

.task-count {
  color: grey;
  font-size: 12px;
  text-transform: uppercase;
}

.task-row {
  cursor: pointer;
  height: 70px;
}

span.locked {
  color: grey;
}

span.incomplete {

}

span.completed {
  text-decoration: line-through;
}
